

:root {
  --green: #6D8885;
  --blue: #c5d4db;
  --yellow: #fac465;
  --pink: #f8a48e;
  --orange: #f66742; 
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

main {
  margin: 0 auto;
  max-width: 99%;
  padding: 4x 4px;
  /* background-color: var(--primary); */
  
}

html,
body {
  min-height: 100%;
  background-color: var(--blue);
}

header {
  background-color: var(--blue);
  justify-content: space-between;
  margin-left: 2px;
  
}

.navigation {
  margin-right: 2px;
  justify-content: space-between;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

h1 {
  font-weight: bold;
  font-size: 2.25rem;
}

li {
  list-style: none;
  margin: 5px;
}

a:hover {
  text-decoration: underline;
}

nav li {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

img {
  max-height: 40px;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

form {
  width: 200px;
  margin: 4px;
}

button {

  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 5px;
  margin: 2px;
}

/* .item-2 {
  grid-column-start: 3;
  grid-column-end: 4;
 
  
  background-size: cover;
  opacity: .50;
} */

.headshot {
  min-height: 200px;
  margin: 4px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 200px 1fr;



}

#contact {
  /* border: solid 1px black; */
  max-width: 500px;
  
}

textarea {
  max-width: 450px;
}

.footer {
  background-color: var(--green);
}

.contact-section {
  background-color: var(--yellow)
}

#resume {
  background-color: var(--orange);
}

#portfolio {
  background-color: var(--pink);
}

.about-section {
  background-color: var(--blue);


}

h2 {
  padding: 4px;
  text-transform: uppercase;
}

h1 {
  color: var(--green);
  font-weight: bold;
}



a {
  margin: 4px;
  text-transform: uppercase;
}

h4 {
  margin: 4px;
}

.grid-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 2px;

}

.grid-container-2 {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2px;
}

.grid-item {
  min-width: 240px;
  min-height: 180px;
  border: 2px solid white;
  padding: 12px;
  position: relative;
}



.prepper-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-size: cover;
}

.prepper-heading {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}


.eats-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.eats-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.budget-img{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-size: cover;
  margin-right: 2px;
}

.budget-heading {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.scheduler-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  align-items: center;
  background-size: cover;  
}

.scheduler-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;

}

.note-img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-items: center;
  background-size: cover;
}

.note-heading {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.art-img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  background-size: cover;
  align-items: center;

}

.art-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

/* .item-1:hover {
  opacity: .90;
}

.item-2:hover {
  opacity: .90;
}

.item-3:hover {
  opacity: .90;
}

.item-4:hover {
  opacity: .90;
}

.item-5:hover {
  opacity: .90;
}

.item-6:hover {
  opacity: .90;
} */



.deployed-link {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

.github-link {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

ul {
  padding: 4px;
}
.project-heading {
  font-size: 20px;
  display: flex;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: var(--orange);
  /* max-width: 200px; */
  opacity: 1;
}


.links {
  font-size: 20px;
  opacity: 1;
  color: white;
  font-weight: bold;
  /* opacity: .9; */
  /* max-width: 200px; */
  background-color: var(--green);
}