

:root {
  /* --green: #6D8885; */
  --blue: #20A39E;
  --dark: #2E2E3A;
  /* --gold: #9D8D58; */
  --pink: #F42272;
  --light-grey: #363645;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  
}

main {
  margin: 0 auto;
  max-width: 99%;
  padding: 4x 4px;
  /* background-color: var(--primary); */
  font-family: 'Roboto Slab', serif;
  /* color: white; */
  
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  /* background-color: var(--green); */
  /* background-image: linear-gradient(#20A39E #F42272 20%); */
  background-image: linear-gradient(180deg, #20A39E, #F42272 );
}

header {
  background-color: var(--dark);
  margin-left: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 300px;
}

.icon {
  padding: 0px;
  padding: 6px;
}

.contacts {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.contacts-container {
  display: flex;
  justify-content: center;
}

#connect {
  /* border-top: 4px solid var(--green); */
}

a:hover {
  color: var(--pink);
}

.headshot {
  float: left;
  min-height: 200px;
  border-radius: 50%;
  width: 200px;
  margin: 6px;
  border: double 10px var(--blue);
}

.hero {
  color: white;
  margin-top: 150px;
  display: flex;  
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.about {
  padding-top: 10px;
  text-align: center;
  width: 640px;
}

h1 {
float: right;
  font-size: 50px;
  margin: 4px;
  display: flex;
  /* font-family: 'Seymour One', sans-serif; */
  font-family: 'Roboto Slab', serif;
}

.tag {
  color: var(--pink);
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  font-family: 'Seymour One', sans-serif;
}

li {
  list-style: none;
  margin: 5px;
}

nav li {
  cursor: pointer;
}

a {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  padding: 15px;
}

img {
  max-height: 40px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  font-size: 15px;
  font-weight: bold;
}

button {
  height: 30px;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  border-radius: 5px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
}

/* .grid-child {
  padding: 2px;
  display: flex;
  width: 900px;
  align-self: center;
  text-align: center;
} */

textarea {
  width: 200px; 
}



#contact-section {
  padding: 30px;
  background-color: var(--light-grey);
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
  color: white;
}

#contact-form {
  justify-self: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 600px;
}

textarea {
  width: 500px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 10px;
}

input {
  margin: 6px;
  width: 200px;
  height: 18px;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

#resume {
  background-color: var(--dark);
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0px;
  display: grid;
  padding: 30px;
}

#portfolio {
  padding: 30px;
  background-color: var(--light-grey);
  margin-left: 60px;
  margin-right: 60px;
}

.about-section {
  margin-left: 60px;
  margin-right: 60px;
  background-color: var(--dark);
  display: flex;
  justify-items: center;
  flex-direction: column;
}

h4 {
  text-transform: uppercase;
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  font-family: 'Seymour One', sans-serif;
  font-size: 34px;
  color: var(--pink);
  padding-top: 6px;
  padding-bottom: 6px;
}

a {
  margin: 4px;
  text-transform: uppercase;
}

h4 {
  margin: 4px;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container-2 {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 272px 420px; */
  grid-template-columns: 1fr 1fr;;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px;
}

.grid-item {
  min-width: 240px;
  min-height: 180px;
  border: 3px solid white;
  padding: 12px;
  position: relative;
}

.prepper-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-size: cover;
}

.prepper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.eats-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-size: cover;
  align-items: center;
}

.eats-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.budget-img{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.budget-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

}

.scheduler-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  align-items: center;
  background-size: cover;  
}

.scheduler-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.note-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-items: center;
  background-size: cover;
}

.note-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.art-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  background-size: cover;
  align-items: center;
}

.artstagram-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

.deployed-link {
  display: flex;
  color: white;
  padding: 0px;
}

.github-link {
  display: flex;
  color: white;
  padding: 0px;
}

ul {
  padding: 0px;
  /* margin-bottom: 2px; */
  text-align: center;
  color: white;
  margin: 10px;
  font-weight: bold;
}

.resume-link {
  text-align: center;;
  margin: 10px;
  color: var(--blue);
  font-size: 18px;
  padding: 0px;
  display: flex;
  justify-self: center;
}

.project-heading {
  font-size: 24px;
  color: white;
  display: flex;
  text-transform: uppercase;
  font-family: 'Seymour One', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: var(--blue);
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}


.links {
  font-size: 17px;
  opacity: 1;
  color: white;
  font-weight: bold;
}

p {
  margin: 0;
}

.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
  padding: 30px;
}


/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 360px) {
  .footer {
    margin: 0px;
  }
  .header {
    margin: 0px;
  }
  #contact-section {
    margin: 0px;
  }
  #portfolio {
    margin: 0px;
  }
  #resume {
    margin: 0px;
  }
}

/* Extra small devices (phones, 680px and down) */
@media only screen and (max-width: 680px) {
  .tag {
    font-size: 16px;
    text-align: center;
  }
  .github-link {
    font-size: 16px;
  }
  .deployed-link {
    font-size: 16px;
  }
  .navigation {
    padding-bottom: 50px;
  }
  a {
    font-weight: bold;
    font-size: 20px;
    margin: 2px;
  }
  textarea {
    width: 450px;
  }
  .footer {
    margin-left: 15px;
    margin-right: 15px;
  }
  .header {
    margin-left: 15px;
    margin-right: 15px;
  }
  #contact-section {
    margin-left: 15px;
    margin-right: 15px;
  }
  #portfolio {
    margin-left: 15px;
    margin-right: 15px;
  }
  #resume {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navigation {
    padding: 1px;
    margin: 2px;
  }

}


/* Extra small devices (phones, 770px and down) */
@media only screen and (max-width: 770px) {
  .tag {
    font-size: 30px;
  }
  .name {
    font-size: 40px;
  }
  p {
    font-size: 22px;
  }
  ul {
    font-size: 22px;
  }
  label {
    font-size: 22px;
  }
  button {
    font-size: 22px;
  }
  .resume-link {
    font-size: 22px;
  }
  .github-link {
    font-size: 22px;
  }
  .deployed-link {
    font-size: 22px;
  }
  #contact-form {
    width: 200px;
  }
  text-area {
    width: 300px;
  }
  .about {
    width: 500px;
  }
  .navigation {
    padding-bottom: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */